* {
    margin: 0;
    padding: 0;
}

body {
    background: #eaebea;
}


/* ===== NAVBAR ===== */
nav {
    height: 12vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left,
.nav-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-left,
h1 {
    margin-left: 3rem;
}

.nav-left img {
    height: 80%;
}

h1 {
    font-size: 2.4rem;
}

.nav-right,
.nav-right h2 {
    margin-right: 3rem;
}

.nav-right h2 {
    font-size: 2rem;
}

.open-form {
    cursor: pointer;
}

/* ===== BOOK AREA ===== */

/* ===== FORM/MODAL ===== */
.container {
    display: flex;
    justify-content: center;
}

.modal {
    position: fixed;
    /* top: -50%; */
    /* transform: translateY(-50%) scale(0.1); */
    background: white;
    height: 50%;
    width: 350px;
    border-radius: 5px;
    z-index: 1;
    /* visibility: hidden; */
    transition: 0.65s ease;
}

.modal.show {
    visibility: visible;
    transform: scale(1);
    top: 20%;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    width: 100%;
    position: relative;
}

.input-container input {
    position: relative;
    height: 100%;
}

.input-container label {
    position: absolute;
    top: 0;
}

.last-input-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ===== OVERLAY ===== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    /* visibility: hidden; */
}

.overlay.show {
    visibility: visible;
}

/* ===== MEDIA QUERIES ===== */